/* Reset styling untuk margin dan padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset styling untuk margin dan padding */

body {
  font-family: 'Poppins', sans-serif;
  background-color: #272121;
  color: #333;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 30px; /* Atur ukuran logo */
  height: auto;
  margin-right: 10px; /* Beri jarak antara logo dan teks */
}

.company-name {
  font-size: 20px;
  font-weight: bold;
  color: white; /* Sesuaikan warna teks */
}

header {
  background: linear-gradient(135deg, #2d2a21, #E16428);
  color: white;
  padding: 15px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  position: relative;
  margin: 0;
}

/* Styling untuk navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;;
}

.navbar .logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  display: flex;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
}

.nav-links a:hover {
  background:linear-gradient(135deg, #271d1d, #c66c05);
  border-radius: 5px;

}

/* Hamburger menu */
.hamburger {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

section {
  padding: 60px;
  text-align: justify;
  background: #d7d6d5;
  border-radius: 12px;
  margin: 30px auto;
  width: 80%;
}

footer {
  background: linear-gradient(#2d2a21, #E16428) ;
  color: white;
  text-align: justify;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 1em;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
}

.gallery a {
  display: block;
  text-align: center;
  width: 200px;
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
}

/* Responsif untuk layar kecil */
@media screen and (max-width: 768px) {
  .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 89px;
      left: 0;
      background: transparent ; /* Warna transparan */;
      backdrop-filter: blur(10px); /* Efek blur */
      -webkit-backdrop-filter: blur(10px); /* Dukungan untuk Safari */
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Garis bawah halus */
      text-align: center;
      padding: 60px;
      transition: transform 0.3s ease;
  }
  .company-name::after {
    content: "KeChe";
    font-size: 25px;
    visibility: visible;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }
  .company-name{
      visibility: hidden; /* Sembunyikan teks awal */
      position: relative;
  }
  .company-name::after {
    visibility: visible;
    position: absolute;
    left: 0;
  }

  .nav-links.active {
      display: flex;
  }

  .nav-links li {
       margin: 10px 0;
  }

  .hamburger {
       display: block;
  }
}
